<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>MobilierBudget: choissizez ce que vous voulez chercher</h1>
    <button ><a href="/terrain">Terrain à vendre</a></button>
    <button ><a href="/maison">Maison à louer</a></button>
    <div>
  
    </div>
</body>
</html>