<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form action="/" method="post">

            <label for="nom">pseudo</label>
            <input type="text" id="nom" name="pseudo">


            <label for="mdp">mot de passe</label>
            <input type="password" id="mdp" name="mdp">

    
            <input type="submit" value="Hiditra">

  </form>          
    

</body>
</html>
